[Desktop Entry]
Type=Application
Version=1.0
Name=Install System
GenericName=System Installer
Exec=/usr/local/bin/autostart-calamares.sh
Icon=calamares
Terminal=false
Categories=System;
