polkit.addRule(function(action, subject) {
    if (action.id === "org.calamares.calamares" &&
        subject.isInGroup("wheel")) {
        return polkit.Result.YES;
    }
});
